extends layout

block content
  form.form-horizontal(method='post')
    .form-group
      .col-sm-12
        a.btn.btn-primary.form-control(href='http://zxing.appspot.com/scan') Scan
    .form-group
      label.control-label.col-sm-1(for='barcode') Barcode
      .col-sm-5
        input#barcode.form-control(type='text', name='barcode', value=form.barcode)
      label.control-label.col-sm-1(for='format') Format
      .col-sm-2
        input#format.form-control(type='text', name='format', value=form.format)
      label.control-label.col-sm-1(for='type') Type
      .col-sm-2
        input#type.form-control(type='text', name='type', value=form.type)
    .form-group
      .col-sm-12
        button.btn.btn-primary.form-control Lookup Barcode

  h2 Response

  table.table.table-condensed.table-stripe.table-hover
    thead
      tr
        th index
        th name
        th price
        th store
    tbody
      each row in Object.keys(body || {})
        tr
          td= row
          td
            img(src=body[row].imageurl)
            = body[row].productname
          td= body[row].price + ' ' + body[row].currency
          td= body[row].storename
          td
            form(method='post', action='/catalog_items')
              input(type='hidden', name='barcode', value=form.barcode)
              input(type='hidden', name='product_name', value=body[row].productname)
              input(type='hidden', name='image_url', value=body[row].imageurl)
              input(type='hidden', name='store_name', value=body[row].storename)
              button.btn.btn-primary I Own This

  h2 About
  p In ZXing Barcode Scanner's Settings set Custom Search URL to /?barcode=%s&format=%f&type=%t

  //-  
    h2 Debug
    h3 Request
    = JSON.stringify(request_options)
    h3 Response
    .response= JSON.stringify(response)
    .body= JSON.stringify(body)
    .collection= JSON.stringify(collection)

  h2 Catalog Items

  table.table.table-condensed.table-stripe.table-hover
    thead
      tr
        th barcode
        th name
    tbody
      each row in collection.models
        tr
          td= row.get('barcode')
          td
            img(src=row.get('image_url'))
            = row.get('product_name')
          td
            form(method='POST', action='/catalog_items/' + row.get('id'))
              input(type='hidden', name='_method', value='DELETE')
              button.btn.btn-default Delete
